
@font-face { font-family: 'VistaSansBook';
             src: url('../fonts/VistaSansBook.woff2') format('woff2'),
				  url('../fonts/VistaSansBook.woff') format('woff')		
}

@font-face { font-family: 'VistaSansLight';
             src: url('../fonts/VistaSansLight.woff2') format('woff2'),
				  url('../fonts/VistaSansLight.woff') format('woff')		
}

@font-face { font-family: 'VistaSansMed';
             src: url('../fonts/VistaSansMed.woff2') format('woff2'),
				  url('../fonts/VistaSansMed.woff') format('woff')		
}

@font-face { font-family: 'VistaSansReg';
             src: url('../fonts/VistaSansReg.woff2') format('woff2'),
				  url('../fonts/VistaSansReg.woff') format('woff')		
}

@font-face { font-family: 'VistaSlabBook';
             src: url('../fonts/VistaSlabBook.woff2') format('woff2'),
				  url('../fonts/VistaSlabBook.woff') format('woff')		
}

@font-face { font-family: 'VistaSlabLight';
             src: url('../fonts/VistaSlabLight.woff2') format('woff2'),
				  url('../fonts/VistaSlabLight.woff') format('woff')		
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VistaSansBook', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
::selection{
  background: rgb(0,123,255,0.3);
}

.wrapper{
  max-width: 600px;
  padding: 0 20px;
}
.wrapper .header-tab,
.wrapper .parent-tab,
.wrapper .child-tab{
  margin-bottom: 8px;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.18);
}
.wrapper .header-tab label,
.wrapper .parent-tab label,
.wrapper .child-tab label{
  background: #FFFFFF;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease;
  border-top: #515151;
  border-bottom: #515151;
}
.wrapper .header-tab label:hover,
.wrapper .parent-tab label:hover{
  background: #FFFFFF;
}
.header-tab input:checked ~ label,
.parent-tab input:checked ~ label,
.child-tab input:checked ~ label{
  border-radius: 3px 3px 0 0;
  background: #D4D1D1;
}
.wrapper label span{
  color: #072A85;
  font-size: 21px;
  font-weight: 300;
}
.wrapper .child-tab label span{
  color: #505050;
  font-size: 17px;
  font-weight: 200;
}
.parent-tab label .icon{
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 15px;
  color: #007bff;
  display: block;
  background: #fff;
  border-radius: 50%;
  text-shadow: 0 -1px 1px #0056b3;
}
.wrapper .child-tab label .icon{
  height: 27px;
  width: 27px;
}
.parent-tab label .icon i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.parent-tab input:checked ~ label .icon i:before,
.child-tab input:checked ~ label .icon i:before{
  content: '\f068';
}
.wrapper .header .content,
.wrapper .parent-tab .content,
.wrapper .child-tab .sub-content{
  max-height: 0px;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 3px 3px;
  transition: all 0.4s ease;
}
.header-tab input:checked ~ .content,
.parent-tab input:checked ~ .content,
.child-tab input:checked ~ .sub-content{
  max-height: 100vh;
}

.header-tab.content h1{
  padding: 15px 20px;
  font-size: 30px;
}
.parent-tab .content p,h1,h2,h3,
.child-tab .sub-content p,h1,h2,h3{
  padding: 15px 20px;
  font-size: 16px;
}

.child-tab .sub-content p,h1,h2,h3{
  font-size: 15px;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
